/*réalisation footer*/

footer ul{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
footer li{
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding-bottom: 10px;
}

div.foot{
    margin-left: 15px;
}

/*desktop view*/

@media all and (min-width :768px){
   footer.grey{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
   }
   div.foot{
       margin-left: 20px;
       width: 40%;
   }
footer li{
    padding:0;
    margin: 0 0 5px 0;
}
footer li{
    height: initial;
}
}