/*réalisation footer*/

footer ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
footer li{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding-bottom: 10px;
}

footer div{
    margin-left: 10px;
}