/*Section logement populaires*/
:root{
  --bluelogo: #0065FC;
  --blueback: #deebff;
  --backcolor: #F2F2F2;
}

.grey {
  background-color: var(--backcolor);
  margin-left: 0;
}

#popularhouses--header {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
}
.imageaside {
  width: 10rem;
  height: 8rem;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
}

.card-inline {
  
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius:20px ;
  width: 95%;
  margin-bottom: 10px;
  box-shadow: 2px 1px 1px var(--backcolor);
}

aside {
  margin-left: 10px;
  background-color: var(--backcolor);
  border-radius: 20px;
}
h2 {
  font-size: 1.2rem;
}

h3{
  font-size: 1rem;
}

aside p {
  font-size: 15px;
  
}
aside div {
  padding: 0 0 10px 10px;
}
i.fas.fa-star {
  padding: 0;
  color: var(--bluelogo);
  font-size: 12px;
}
i.fas.fa-star.empty {
  color: rgba(211, 211, 211, 0.37);
}

/*logement marseille*/

article.grey{
  margin: 0 10px;
}

.imagearticle {
  width: 95%;
  height: 8rem;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

article h2{
  padding-left: 10px;
}

article h3 {
  font-size: 1rem;
  margin-bottom: 5px;
}
article p {
  font-size: 15px;
  margin: 0;
  padding: 5px 0 10px 0;
}
div.titlehouses{
  margin-left: 10px;
}
aside div.star {
  margin-bottom: 20px;
  padding-left: 0;
}
article div.star{
  padding-left: 10px;
  margin-bottom: 10px;
}

.card{
  background-color: var(--backcolor);
  margin: 10px 10px 15px 10px;
  border-radius: 20px;
  box-shadow: 1px 1px 1px var(--backcolor);
}
/*ecran tablette*/

@media all and (min-width: 768px) and (max-width: 1169px) {

  
  article h2 {
    margin: 20px 0 10px 0;
    
  }
  article p {
    margin-bottom: 5px;
  }
  aside {
    width: 100%;
  }

  aside.grey {
    width: 95%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    
  }

  img.imagearticle {
    width: 15rem;
    object-fit: cover;
  }

  img.imageaside {
    width: 7rem;
    padding: 5px 5px;
    object-fit: cover;
  }

  div#houses {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  div#housesfirstbloc {
    margin-bottom: 20px;
    
    display: flex;
    justify-content: space-around;
  }
  div#housessecondbloc {
    
    display: flex;
    justify-content: space-around;
  }

  .card {
    background-color: #fff;
    border-radius: 20px;
    padding: 5px;
  }
  
  div#popularhouses--header{
    padding: 0 30px;
}
  

  article.grey {
    border-radius: 20px;
    padding: 0 10px;
    margin-top:10px ;
    width: 100%;
    background-color: var(--backcolor);

  }
  
  div.popularhouses--cards {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }

  .card-inline {
    border-radius: 20px;
    padding: 0;
    width: 100%;
    margin-right: 10px;
  }
  

}

/*ecran desktop*/

@media all and (min-width: 1170px) {
  
  
  article p {
    margin-bottom: 5px;
  }

  aside.grey {
    width: 25%;
    border-radius: 20px;
    
  }

  img.imagearticle {
    width: 15rem;
    object-fit: cover;
    
  }

  img.imageaside {
    width: 7rem;
    padding: 5px 5px;
    object-fit: cover;
  }

  div#houses {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
  }

  div#housesfirstbloc {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
  }
  div#housessecondbloc {
    display: flex;
    justify-content: space-around;
  }
  

  article.grey {
    border-radius: 20px;
    padding: 0 10px;
    width: 70%;
    
  }
  
  div.popularhouses--cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
  }
  .card {
    background-color: #fff;
    border-radius: 20px;
    padding: 5px;
  }
  .card-inline {
    border-radius: 20px;
    padding: 0;
    width: 100%;
    margin: 0 10px 50px 0;
  }
  
  
}
