/*Font family du document*/
:root{
    --bluelogo: #0065FC;
    --blueback: #DEEBFF;
    --backcolor: #F2F2F2;

}

body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding:0;
    width: 100%;
}
main{
    margin:0 20px;
}
/*Style header*/

nav{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    width: 100%;
    padding-left:0;
}

li{
    width: 100%;
    text-align: center;
    height: 100%;
    padding: 0 0 5px 0;
}

a{
    text-decoration: none;
}

.borderhead{
    
    display: flex;
    flex-direction: column;
    position: relative;
}
.borderhead #inscription{
    position: absolute;
    top: 0.7rem;
    right:1rem;
    font-size: small;
}
.borderhead #logoheader{
    width: 20%;
    margin-left: 1rem;
}





li.active{
    border-bottom:2px solid var(--bluelogo);
    color:var(--bluelogo);
}   
.button{
    border: 2px solid var(--backcolor);
    border-radius: 50px;
}


@media all and (min-width :768px) {
   
.borderhead{
    
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    
}
nav{
    width: 100%;
}
ul{
    
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0 1rem 0 0;
    height: 100%;
}

li{
    margin:0 2rem 0 2rem;
    width: initial;
    display: flex;
    justify-content: center;
    align-items: center;
}
.borderhead #inscription{
    position: static;
    padding-left: 1.5rem;
    font-size: initial;
}
li.active{
    border-bottom: none;
    border-top:2px solid var(--bluelogo);
    color:var(--bluelogo);
}

   
}



