/*installation de la première section*/
:root{
    --bluelogo: #0065FC;
    --blueback: #deebff;
    --backcolor: #F2F2F2;
}

section h1{
    font-size: 20px;
    font-weight: bolder;
}
section p{
    font-size: medium ; 

}

button{
    background-color: #fff;
    padding: 15px 15px 15px 20px;
    border: 2px solid var(--backcolor);
    border-left: none;
    border-radius: 0 20px 20px 0;
    
   

}

input#ville{
    border: none;
    font-size: 1rem;
    
}

.blochead{
    margin: 0 15px 0 15px;
}

#titlepage{
    width: 90%;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
}
    


#commandesearch{
    display: flex;
    align-items: center;
    margin-left: 10px;
      
}


#map{
    border: none;
    line-height: 3;
    padding: 0 15px;
    font-size: 1rem;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    border-radius: 15px;
    background-color:var(--backcolor);
}

#loupe{
    border: none;
    line-height: 2.5;
    padding: 0 15px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px 15px 15px 10px;
    background-color:var(--bluelogo);
    
}
button#loupe{
    border: none;
}
span#look{
    display: none;
}
#fullfiltres h2{
    font-size: medium;
}

div#filtres{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: repeat(3,1fr);
}

i.icon{
    border: none;
    line-height: 3;
    padding: 0 15px;
    font-size: 1rem;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    border-radius: 25px;
    background-color:var(--blueback)F;
    color: var(--bluelogo);
}

div#dog{
    grid-area: 3/1;
    text-align:start;
}
div#infoarea{
    display: flex;
    align-items: center;
}
 i#info{
     color:var(--bluelogo) ;
     background-color:#fff ;
     border: 1px solid var(--backcolor);
     border-radius: 50px;
     font-size: 10px;
     padding: 5px 10px;
     text-align: center;
     margin: 0 10px 15px 0;
 }   
 div.button:hover{
     color: lime;
     cursor:pointer

 }
/*desktop view*/

 @media all and (min-width :768px){
    main{
        margin:0 20px;
    }

     div#fullfiltres{
         display: flex;
         
     }
     div#filtres{
         display: flex;
         justify-content: space-between;
     }
   
     div#houses{
         display: flex;
         flex-direction: row-reverse;
         justify-content: center;
     }
     div#houses1{
         display: flex;
     }

     div#houses2{
         display:flex;
     }
     
     div.button{
         margin-left: 3rem;
     }
     form{
         width: 100%;
     }
     i.fa-search:before{
         display: none;
     }
     p#research{
         display: flex;
         align-items:center ;
     }
     button#loupe{
         line-height: 1rem;
         border-radius: 0 10pX 10px 0;
         padding-bottom: 13px;
     }
     span#look{
         display:inherit;
     }
     div#infoarea{
         display: flex;
         align-items: center;
     }
     i#info{
         margin: 0 10px 0 10px;
     }

}