/*Section Activité*/

section.guide{
    margin: 30px 5px;
}
section.guide h1{
    margin-left: 10px;
    background-color: var(--backcolor);
}


div#activity h2{
    font-size: small;
    margin-bottom: 20px;
    padding-left: 20px;
}
.imageactivite{
    width: 95%;
    height: 8rem;
    border-radius: 20px 20px 0 0;
    margin-left: 10px;
    object-fit: cover;
    
}
a.layoutactivity{
    background-color: #fff;
    box-shadow: 1px 1px 1px var(--backcolor);
}

/*ecran desktop*/

@media all and (min-width :768px){
    
    div#activity{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 1rem;
    }

    a#oldport{
        grid-area: 1/1/3/1;
    }
    a#church{
        grid-area: 1/4;
    }
    a#longchamps{
        grid-area: 2/4;
    }
    a#fort{
        grid-area: 1/2;
    }
    a#island{
        grid-area: 2/2;
    }
    a#park{
        grid-area: 1/3/3/3;
    }

    .layoutactivity img.desktop{
        height: 90%;
    }
    .imageactivite{
        object-fit: cover;

    }

}